@using Blazored.LocalStorage
@using VacationManager.UI.Api.Services
@inject ILocalStorageService LocalStorage
@inject JwtAuthenticationStateProvider AuthProvider
@inject NavigationManager Navigation

<button class="btn btn-outline-danger" @onclick="LogOut">Log out</button>

@code {
    private async Task LogOut()
    {
        await LocalStorage.RemoveItemAsync("authToken");
        AuthProvider.NotifyUserLogout();
        Navigation.NavigateTo("/login", forceLoad: true);
    }
}
